<nav class="barnav">
    <ul id="nav">
        <li><a href="/">Acceuil</a></li>
        <li><a href="/login">Identification</a></li>
        <li><a href="/details">Détails formations</a></li>
    </ul>
</nav>

