<h1>{{title}}</h1>
<p>Bienvenue sur le site dédié aux formations proposées par le greta.</p>
<p>Pour toute information sur les formation merci de choisir "détails formations" dans le menu de navigation situé en haut de page.<br>
Si vous possédez un compte administrateur merci de bien vouloir vous identifier grace au menu "Identification" de la barre de navigation</p>

