<h1>Détails utilisateur : </h1>

<ul>
    <li>nom: ............. {{user.nom}} </li><br>
    <li>prenom: ............... {{user.prenom}} </li><br>
    <li>login: .......... {{user.login}}</li><br>
    <li>mot de passe: ................ {{user.password}}</li><br>
    
</ul>